[Unit]
Description=Gorgona Distributed Alert Server
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/lib/gorgona
ExecStart=/usr/bin/gorgonad
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
TimeoutStopSec=20
StandardOutput=journal
StandardError=journal
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
